@import './functions';
$primary-color: rgba($color: #ffffff, $alpha: 1.0);
$accent-color: rgba($color: #4f619b, $alpha: 1.0);
$accent-color-85op: rgba($color: #4f619b, $alpha: 0.85);
$header-color: rgba($color: #5D71B4, $alpha: 1.0);
$yellow-color: rgba($color: #FFFB00, $alpha: 1.0);
$footer-color: rgba($color: #252525, $alpha: 1.0);
$text-color: rgba($color: #485A92, $alpha: 1.0);
$font-size: (
  esm: .625rem,
  vsm: .75rem,
  sm: .875rem,
  1: 1rem,
  2: 1.125rem,
  3: 1.25rem,
  4: 1.5rem,
  5: 1.875rem,
  6: 2.25rem,
  7: 2.625rem,
  8: 3rem,
  9: 3.75rem,
  10: 4.5rem
);
$font-weight: (
  light: 300,
  default: 400,
  semibold: 500, 
  bold: 700,
  bolder: 900
);
$px-to-rem: (
  1: .063rem, 
  2: .125rem, 
  3: .188rem, 
  4: .25rem, 
  5: .313rem, 
  6: .375rem, 
  7: .438rem, 
  8: .5rem, 
  9: .563rem, 
  10: .625rem, 
  11: .688rem, 
  12: .75rem, 
  13: .813rem, 
  14: .875rem, 
  15: .938rem, 
  16: 1rem, 
  17: 1.063rem, 
  18: 1.125rem, 
  19: 1.188rem, 
  20: 1.25rem, 
  21: 1.313rem, 
  22: 1.375rem, 
  23: 1.438rem, 
  24: 1.5rem, 
  25: 1.563rem, 
  26: 1.625rem, 
  27: 1.688rem, 
  28: 1.75rem, 
  29: 1.813rem, 
  30: 1.875rem, 
  31: 1.938rem, 
  32: 2rem, 
  33: 2.063rem, 
  34: 2.125rem, 
  35: 2.188rem, 
  36: 2.25rem, 
  37: 2.313rem, 
  38: 2.375rem, 
  39: 2.438rem, 
  40: 2.5rem, 
  41: 2.563rem, 
  42: 2.625rem, 
  43: 2.688rem, 
  44: 2.75rem, 
  45: 2.813rem, 
  46: 2.875rem, 
  47: 2.938rem, 
  48: 3rem, 
  49: 3.063rem, 
  50: 3.125rem, 
  51: 3.188rem, 
  52: 3.25rem, 
  53: 3.313rem, 
  54: 3.375rem, 
  55: 3.438rem, 
  56: 3.5rem, 
  57: 3.563rem, 
  58: 3.625rem, 
  59: 3.688rem, 
  60: 3.75rem, 
  61: 3.813rem, 
  62: 3.875rem, 
  63: 3.938rem, 
  64: 4rem, 
);
