@import '../../abstracts/variables';
@import '../../abstracts/mixins';
@import '../../abstracts/functions';

header{
  z-index: 999;
  width: 100%;
  padding: 1.25rem 0;
  background-color: $header-color;
  position: fixed;
  .container{
    .nav-bar{
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      #logo{
        position: relative;
        display: flex;
        height: 2.5rem;
        vertical-align: middle;
        &:hover{
          scale: 1.1;
          @include transition-eo-015;
        }
      }
      menu{
        .list-media{
          display: none;
          position: relative;
          color: $primary-color;
          height: 2.75rem;
          width: 2.75rem;
          .items{
            display: none;
            position: absolute;
            left: -9rem;
            top: 3rem;
            ul{
              background-color: #4b5d99;
              padding: .5rem 1rem;
              width: 12rem;
              list-style: none;
              li{
                margin: .5rem 0;
                a{
                  @include transition-eio-025;
                  color: white;
                  font-weight: 700;
                  font-size: font(1);
                  &:hover{
                    color: yellow;
                  }
                }
              }
            }
          }
          &:hover{
            @include transition-eo-025;
            color: $yellow-color;
            .items{
              display: block;
            }
          }
        }
        .list{
          position: relative;
          vertical-align: center;
          text-align: center;
          ul{
            display: flex;
            padding: 0;
            margin: 0;
            li{
              margin-left: 2rem;
              display: list-item;
              text-decoration: none;
              list-style: none;
              text-align: left;
              a{
                display: inline-block;
                color: rgba($color: #ffffff, $alpha: 1.0);
                font-size: 1rem;
                font-weight: 700;
                &:hover{
                  color: $yellow-color;
                  @include transition-eo-015;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1440px) {
  header{
    padding: .5rem 0;
    #logo{
      height: 2rem !important;
    }
    menu{
      li{
        margin-left: 1rem !important;
        a{
          max-height: 5rem !important;
          font-size: .875rem !important;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  menu{
    .list{
      display: none !important;
    }
    .list-media{
      display: inline-block !important;
    }
  }
}